/* Mobile 10 -- Homepage */

.rtt-section rtt-section-8{
    padding-bottom: 15px !important;
}

/* Mobile 11 - About Us */
.about-section .item .col-2 ul li .title{
    position: relative;
}

    .about-section .item .col-2 ul li .title .icon{
        width: 30%;
    }

    .about-section .item .col-2 ul li .title .md-style-1{
        left:28%;
        position: absolute;
    }


