

body, html{
        width: 100%;
        height: auto;
        position: relative;
        float: left;
        padding: 0px;
        margin: 0px;
        font-family: Muli,sans-serif;
    }


    .ia_banner_root div,
    .ia_service_root div,
    .ia_store_root div{
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
    }
    
    .lst_service{
        list-style: none;
    }

    .lst_service li{
        width: 90%;
        float: left;
        font-size: 16pt;
    }

    .lst_service li span{
        color:#282828 ;
        font-size: 13pt;
        line-height: 1.4em;
        width: 100%;
        float: right;
        display: flex;

    }
    .lst_service li span::before{
        content: "●";
        margin-right: 0.6em;
        font-size: 1em;
        height: 100%;
        display: inline-block;
        clear: both;
        font-family: 'Times New Roman', Times, serif
    }

    .lb_title{
        color:#497999;
        font-size: 26pt;
        text-transform: uppercase;
    }

    .lb_sub_title{
        color:#8DB6DA;
        text-transform: uppercase;
        font-size: 32pt;

    }

    .lb_description{
        color:#282828;
        font-size: 16pt;
        line-height: 1.4em;
    }

    .lb_header_box{
        color:#4979A9;
        font-size: 14pt;
        font-weight: bold;
    }

    .box_content{
        justify-content: center;
        display: flex;
        background: #FFF;
        flex-direction: column;
    }

    .box_shadow{
        width: 46%;
        position: absolute;
        top: -50pt;
        bottom: -50pt;
        background: #FFF;
    }



   
    .ia_banner_root {
        z-index: -1;
        margin-top: -2px;
    }

    .ia_banner_root,
    .ia_store_root,
    .ia_footer_root    {
        position: relative;
        width: 100%;
        float:left;
        display: block;
    }

    .ia_banner_root .ia_banner_slider {
        float: left;
        width:100%;
        display: block;
        position: relative;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: left center;
    }

    .ia_banner_root .ia_banner_slider .btn_slider_next{
        height: 30%;
        top: 35%;
        bottom: 35%;
        position: absolute;
        background:rgba(0,0,0,0.4);
        min-width: 35pt;
        right: 0px;
    }

    .ia_banner_root .ia_banner_slider .box_content ul{
        float: left;
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: block;
        margin-top: 8pt;
    }
    .ia_banner_root .ia_banner_slider .box_content ul span{
        display: flex;
       
    }

    .ia_banner_root .ia_banner_slider .box_content ul li span::before{
        content: "●";
        margin-right: 0.3em;
        font-size: 1em;
        display: flex;
        clear: both;
        height: 100%;
        float: left;
        font-family: 'Times New Roman', Times, serif
    }
    .ia_banner_root .ia_banner_slider .box_content ul li:last-child  span::before{
        height: 2em;

    }

    .ia_banner_root .ia_banner_slider .box_content ul li{
        width: 100%;
        float: left;
    }

    .ia_banner_root .ia_banner_slider .box_content ul li span{
        color:#282828 ;
        line-height: 1.4em;
    }

    .ia_banner_root .ia_banner_slider .box_shadow{
        right: 0px;
        width: auto;
        left: 54%;
        box-shadow: #FFF -65pt 0px 65pt;
    }

    .ia_banner_root .lb_description{
        margin-top: 0.5em;
    }

    .lb_title_bot{
        background: #666666;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        
        color: #FFF;
        position: relative;
        float: left;
    }

    .ia_service_root{
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        background: #EDEDEE;
        position: relative;
    }

    .col_service{
        float: left;
    }

    .col_service a{

        height: 245px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }



    .ia_service_root .lb_sub_title{
        font-size: 26pt;
        float: left;
        margin-bottom: 5pt;
    }

    .ia_service_root .lb_header_box{
        width: 33%;
        float: left;
        display: block;

    }

    .ia_service_root .lst_service{
        display: block;
        float: left;
        width: 100%;
        padding: 0px;
        margin: 4pt 0px 0px 0px;
    }

    .ia_service_root .lst_service li {
        margin-bottom: 1em;
    }

    .ia_store_root{
        min-height: 650px;
        background-size: auto 100%;
        background-position: right center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        margin-top: -5px;
    }

    .ia_store_root .ic_mobile{
        background-repeat: no-repeat;

    }


    .ia_store_root .box_content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .ia_store_root .box_shadow{
        width: 48%;
        position: absolute;
        top: -50pt;
        bottom: -50pt;
        left: 0px;
        overflow: hidden;
        box-shadow: #FFF 60pt 0px 65pt;
    }

    .ia_store_root .lb_description{
        margin-top: 10pt;
        margin-bottom: 10pt;
    }



    .ia_store_root .btn_store{
        display: block;
        float: left;
        min-width: 120px;
        width: 20%;
        height: 100%;
    }

    .ia_store_root .btn_store:hover{
        cursor: pointer;
    }

    .ia_store_root .btn_store img{
        width: 100%;
        height: auto;
        float: left;
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -moz-transform:  translateX(-5px);
    }

    .ia_footer_root{
        min-height: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #96BFE3;
    }




    /* Desktop */
    @media screen and (min-width: 480px){
        body{
            min-width: 1366px;
            margin: auto;
            float: none;
        }

        .lb_title{
            font-size: 38px;
        }
        .lb_sub_title{
            font-size: 60px;
        }

        .box_content{
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            width: 48%;
        }

        .lb_header_box{
            font-size: 1.4em;
        }


        .lb_description{
            width: 65%;
            font-size: 20px;
        }

        .ia_store_root .lb_description{
            width: 100%;
        }

        .box_shadow{
            display:block;
        }

        .ia_banner_root .ia_banner_slider{
            min-height: 562px;
        }

        .ia_banner_root .ia_banner_slider .box_content{
            position: absolute;
            top: 0px;
            bottom: 0px;
            right:  0px;
        }
          
        .ia_banner_root .ia_banner_slider .box_content ul{
            width: 70%;
        }

        .ia_banner_root .ia_banner_slider .box_content ul span{
            font-size: 17px;
        }

        .lb_title_bot{
            font-size: 28px;
            width: 100%;
        }

        .ia_service_root{
            padding-left: 6%;
            padding-right: 6%;
            padding-top: 245px;
            padding-bottom: 25px;
        }

        .ia_service_root .lst_service:last-child li{
            width: 100% ;
        }

        .lst_service li span{
            font-size: 92%;
        }

        .ia_service_root .lb_sub_title{
            margin-top: 30pt;
            width: 100%;    
            margin-bottom: 5pt;
            float: left;
        }

    

        .col_service{
            width: 33.3%;
        }

        .col_service .logo_service{
            position: absolute;
            width: 33.3%;
            float: left;
            left: auto;
            top: 0px;
        }

        .col_one .lst_service{
            padding-left:  0px;
        }

        .col_two .lst_service{
            width: 90%;

        }
        .col_three {
            width: 27%;
            padding-left:  2%;
        }
        .col_one .logo_service{
            left: 0px;
        }

        .col_two .logo_service{
            left: 33.3%;
        }

        .col_three .logo_service{
            left: 66.6%;
        }

        .lb_service_title{
            display: none;
        }

        .ia_store_root .box_content{
            width: 40%;
            padding-left: 10%;
            left: 0px;
        }

        .ia_store_root .box_content .lb_description{
         font-size: 25px;
        }

        .ia_store_root .ic_mobile{
            position: absolute;
            right:0px;
            top: 18%;
            height: 100%;
            width: 45%;
            background-size: 74% auto;
            background-position: 2% top;
        }

        
        .ia_store_root .btn_store{
            display: block;
            float: left;
            min-width: 201px;
            height: 100%;
        }
    }


    /* Mobile */
    @media screen and (max-width: 480px){
        body{
            min-width: 320px ;
        }
        #ia_nav_root{
            display: none;
        }
        #lb_service_title{
            display: none;
        }

        .lb_title{
            font-size: 7vw;
        }

        .lb_title span{
            color:#8DB6DA ;
            text-transform: uppercase;
        }

        .lb_sub_title,
        .lb_title span{
            font-size: 9vw;
        }

        .lb_header_box{
            font-size: 12pt;
        }

        .lb_description{
            font-size: 20px;
            line-height: 1.3em;
        }


        .lst_service li{
            font-size: 13pt;
            width: 100%;            
            line-height: 1.4em;
        }

        .lst_service li span{
            
            color:#282828 ;
            font-size: 13px;
            line-height: 1.4em;
            width: 100%;
            float: right;

        }

        .lst_service li span::before{
            margin-right: 1em;
        }

        .box_content{
            width: 80%;
            padding: 30pt 10%;
            padding: 10%;
            float: left;
            position: relative;
            box-sizing: content-box !important;
        }

       

        .box_shadow{
            display: none;
        }

        .ia_banner_root{
            background-size: 100%;
        }

        .ia_banner_root .ia_banner_slider{
            padding-top: 250px;
            background-size: 100% ;
            background-position: left top;
        }

        .ia_banner_root .ia_banner_slider .box_content ul li span{
            font-size: 13px;
        }

        .ia_service_root .lb_service_title{
            display: block;
            margin-left:  10%;
        }

        .ia_banner_root .ia_banner_slider .box_content ul{
            width: 100%;
        }

        .lb_title_bot{
            font-size: 18px;
            width: 90%;
            line-height: 1.3em;
            padding: 1.5em 5%;
            box-sizing: content-box !important;
        }

        .ia_service_root .lb_header_box{
            width: 80%;
            float: left;
            display: block;
            margin-left: 10%;
            font-size: 20px;
        }

        .ia_service_root .lb_sub_title{
            margin-top: 70pt;
            margin-bottom: 10pt;
            font-size:  8.5vw;
        }

        .ia_service_root .lst_service{
            display: block;
            float: left;
            width: 80%;
            padding: 0px;
            margin: 0pt 10% 70pt 10%;
        }

        .ia_service_root .lst_service li {
            margin-bottom: 1em;
        }

        .lst_service li span{
            font-size: 20px;
        }


        .col_service{
            width: 100%;
        }
        .col_two{
            background: #FFF;
        }

        .col_three{
            background: #D9D9D8;
        }

        .col_service .logo_service{
            background-position: center top;
        }

        .col_service .logo_service{
            position: relative;
            float: left;
            width: 100%;
        }

        .ia_store_root {
            background-position: 70% top;
            background-size: auto 615px;
        }
        .ia_store_root .box_content{
            width: 80%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 50pt;
            padding-bottom: 50pt;
        }
        .ia_store_root .box_content .lb_description{
            font-size: 25px;
        }
        .ic_mobile{
            width: 100%;
            position: relative;
            background-size: 80%;
            background-position: center 125px;
            height: 610px;
        }
       .ia_store_root .btn_store{
            min-width: 49%;
        }

        .ia_store_root .lb_description br{
            display: none;
        }
    }