
@font-face {
    font-family: 'Muli Light';
    src: url('fonts/Muli-Light.ttf');
    /*src: url('Roboto-Regular.ttf');*/
}


@font-face {
    font-family: 'Muli Bold';
    src: url('fonts/Muli-Bold.ttf');
    /*src: url('Roboto-Regular.ttf');*/
}


@font-face {
    font-family: 'Muli Regular';
    src: url('fonts/Muli-Regular.ttf');
    /*src: url('Roboto-Regular.ttf');*/
}

@font-face {
    font-family: 'Muli SemiBold';
    src: url('fonts/Muli-SemiBold.ttf');
    /*src: url('Roboto-Regular.ttf');*/
}

@font-face {
    font-family: 'MyriadPro Regular';
    src: url('fonts/MyriadPro-Regular.otf');
    /*src: url('Roboto-Regular.ttf');*/
}


body, html{
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    padding: 0px;
    margin: 0px;
}



.lst_service li{
    width: 100%;
    float: left;
    list-style-type: disc;     
    list-style-position: inside;
    font-size: 16pt;
}

.lst_service li span{
    font-family: 'Muli Regular';
    color:#282828 ;
    font-size: 13pt;
    line-height: 1.4em;
    width: 90%;
    float: right;
    display: block;
    
}

.lb_title{
    font-family: 'Muli Regular';
    color:#497999;
    font-size: 26pt;
    text-transform: uppercase;
}

.lb_sub_title{
    font-family: 'Muli Regular';
    color:#8DB6DA;
    text-transform: uppercase;
    font-size: 32pt;
    
}

.lb_description{
    font-family: 'Muli Regular';
    color:#282828;
    font-size: 16pt;
    line-height: 1.4em;   
}

.lb_header_box{
    color:#4979A9;
    font-size: 14pt;
    font-family: "Muli Bold";
}

.box_content{
    justify-content: center;
    display: flex;        
    background: #FFF;
    flex-direction: column;
}

.box_shadow{
    width: 46%;
    position: absolute;
    top: -50pt;
    bottom: -50pt;
    background: #FFF;
}



#ia_nav_root{
    position: relative;
    width: 100%;
    height: auto;
    top:0px;
    left: 0px;
    right: 0px;
    float: left;
    display: block;
    box-shadow: rgba(0,0,0,0.4) 0px 0px 10px;
    z-index: 10;
}

.nav_logo{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 10%;
    min-width: 40pt;
    background-image: url("../images/logo.png");
    background-position: 30% center;
    background-repeat: no-repeat;
    background-size: auto 70%;
}

    .nav{
        position: relative;
        width:auto;
        margin-right: 0.5em;
        margin-top: 2.6em;
        }

    .nav ul{
        position: relative;
        float: right;
        list-style: none;
        display: block;
        margin: 0px;
        padding: 0px;
    }

    .nav li{
        width: auto;
        float: left;
    }

    .nav li a{
        width: 100%;
        float: left;
        display: block;   
        padding: 5pt 0pt;        
    }

    .nav li span{
        width: 100%;
        font-weight: 200;
        border-right: solid 1px rgba(0,0,0,0.6);
        text-transform: uppercase;
        color: rgba(0,0,0,0.8);
        font-size: 12pt;
        padding: 0.1em 1.8em;
        font-family: 'Muli Regular';
    }
    .nav li img{
        position: relative;
        width: 22px;
        height: 22px;
        padding: 0px 2em;
        
    }
    

    .ia_banner_root,
    .ia_store_root,
    .ia_footer_root    {
        position: relative;
        width: 100%;
        float:left;
        display: block;
    }

   .ia_banner_root .ia_banner_slider {
       float: left;
       width:100%;
     
       display: block;
      
        position: relative;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: left center;
    }

    .ia_banner_root .ia_banner_slider .btn_slider_next{
        height: 30%;
        top: 35%;
        bottom: 35%;
        position: absolute;
        background:rgba(0,0,0,0.4);
        min-width: 35pt;
        right: 0px;
    }

    .ia_banner_root .ia_banner_slider .box_content ul{
        float: left;
        padding: 0px;
        margin: 0px;
        list-style: disc;
        display: block;
        margin-top: 8pt;
    }

    
    .ia_banner_root .ia_banner_slider .box_content ul li{
        width: 100%;
        float: left;
        font-size: 16pt !important;
        list-style-type: disc;     
        list-style-position: inside;
    }

    .ia_banner_root .ia_banner_slider .box_content ul li span{
        font-family: 'Muli Regular';
        color:#282828 ;
        font-size: 13pt ;
        line-height: 1.4em;
        
    }
    
    .ia_banner_root .ia_banner_slider .box_shadow{
               
        right: 0px;
        box-shadow: #FFF -65pt 0px 65pt;
    }


     .lb_title_bot{
        background: #666666;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        font-family: 'Muli Regular';
        color: #FFF;
        position: relative;
        float: left;
    }
   
    .ia_service_root{
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        background: #EDEDEE;
        position: relative;
    }

    .col_service{
        float: left;
     }

    .col_service a{
      
        height: 245px;
        background-position: center;
        background-size: auto 140%;
        background-repeat: no-repeat;
        
    }



    .ia_service_root .lb_sub_title{
       font-size: 26pt;
        float: left;
        margin-bottom: 5pt;
    }
    
    .ia_service_root .lb_header_box{
        width: 33%;
        float: left;
        display: block;
        
    }

    .ia_service_root .lst_service{
        display: block;
        float: left;
        width: 100%;
        padding: 0px;
        margin: 4pt 0px 0px 0px;
    }    

    .ia_service_root .lst_service li {
        margin-bottom: 1em;
    }    
 
    .ia_store_root{
        min-height: 650px;
        background-size: auto 100%;
        background-position: right center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        margin-top: -5px;
    }

    .ia_store_root .ic_mobile{
        background-repeat: no-repeat;
        
    }


    .ia_store_root .box_content{
          display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .ia_store_root .box_shadow{
        width: 48%;
        position: absolute;
        top: -50pt;
        bottom: -50pt;
        left: 0px;
        overflow: hidden;
        box-shadow: #FFF 60pt 0px 65pt;
    }

    .ia_store_root .lb_description{
        margin-top: 10pt;
        margin-bottom: 10pt;
    }



    .ia_store_root .btn_store{
        display: block;
        float: left;
        min-width: 120px;
        width: 20%;
        height: 100%;
    }

    .ia_store_root .btn_store:hover{
        cursor: pointer;
    }

    .ia_store_root .btn_store img{
        width: 100%;
        height: auto;
        float: left;
    }

    .ia_footer_root{
       min-height: 120px;
       display: flex;
       justify-content: center;
       flex-direction: column;
        background-color: #96BFE3;
    }

   


    /* Desktop */
@media screen and (min-width: 480px){
    body{
        min-width: 1366px ;
    }
     .box_content{
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 46%;
    }

    .lb_description{
        width: 70%; 
    }

    .ia_store_root   .lb_description{
        width: 80%;
    }
    
    .box_shadow{
        display:block;
    }

    .ia_banner_root .ia_banner_slider{
        min-height: 562px;
    }

    .ia_banner_root .ia_banner_slider .box_content ul{
        width: 70%;
    }

    .ia_banner_root .ia_banner_slider .box_content{
        position: absolute;
        top: 0px;
        bottom: 0px;
        right:  0px;     
    }

    .lb_title_bot{
        font-size: 16pt;
        width: 100%;
    }
    
    .ia_service_root{
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 245px;
    }

    .ia_service_root .lb_sub_title{
        font-size: 22pt;
        margin-top: 30pt;
        width: 100%;        
    }
   
    .col_service{
        width: 33.3%;        
    }
    
    .col_service .logo_service{
        position: absolute;
        width: 33.3%;
        float: left;
        left: auto;
        top: 0px;
    }

    .col_one .lst_service{
        padding-left:  0px;
    }

    .col_two .lst_service{
         width: 80%;

    }
    .col_three {
        width: 27%;; 
        padding-left:  2%;
    }
    .col_one .logo_service{
        left: 0px;
    }

    .col_two .logo_service{
        left: 33.3%;
    }

    .col_three .logo_service{
        left: 66.6%;
    }
 
    .lb_service_title{
        display: none;
    }
  
    .ia_store_root .box_content{
        width: 40%;
        padding-left: 10%;
        left: 0px;
    }

    .ia_store_root .ic_mobile{
        position: absolute;
        right:0px;
        top: 18%;
        height: 100%;
        width: 45%;
        background-size: 74% auto;
        background-position: 2% top;
    }
}


/* Mobile */
@media screen and (max-width: 480px){
    body{
        min-width: 320px ;
    }
    #ia_nav_root{
        display: none;
    }
    #lb_service_title{
        display: none;
    }
    
    .lb_title{
        font-size: 18pt;
    }

    .lb_title span{
        color:#8DB6DA ;
        text-transform: uppercase;
    }

    .lb_sub_title,
    .lb_title span{
        font-size: 26pt;
    }

    .lb_header_box{
        font-size: 12pt;
    }

    .lb_description{
        font-size: 12pt;
    }
   

    .lst_service li{
        font-size: 13pt;
        line-height: 1.4em;
    }

    .lst_service li span{
        font-family: 'Muli Regular';
        color:#282828 ;
        font-size: 13pt;
        line-height: 1.4em;
        width: 90%;
        float: right;
        display: block;
        
    }
    .box_content{
        width: 80%;
        padding: 30pt 10%;
        padding: 10%;
        float: left;
        position: relative;
    }  

    .box_shadow{
        display: none;
    }

    .ia_banner_root{
        background-size: 100%;
    }
    .ia_banner_root .ia_banner_slider{
        padding-top: 250px;
        background-size: 100% ;
        background-position: left top;     
    }

    .ia_banner_root .ia_banner_slider .box_content ul li span{
        font-size: 11pt;
    }

   .ia_service_root .lb_service_title{
        display: block;
        margin-left:  10%;
    }
    
    .ia_banner_root .ia_banner_slider .box_content ul{
        width: 100%;
    }


    .lb_title_bot{
        font-size: 12pt;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .ia_service_root .lb_header_box{
        width: 80%;
        float: left;
        display: block;
        margin-left: 10%;
    }

    .ia_service_root .lb_sub_title{
        margin-top: 70pt;
        margin-bottom: 10pt;
    }

    .ia_service_root .lst_service{
        display: block;
        float: left;
        width: 80%;
        padding: 0px;
        margin: 0pt 10% 70pt 10%;
    }    

    .ia_service_root .lst_service li {
        margin-bottom: 1em;
    }    
 
    .lst_service li span{
        font-size: 12pt;
    }


    .col_service{
        width: 100%;
    }
    .col_two{
        background: #FFF;
    }

    .col_three{
        background: #D9D9D8;
    }

    .col_service .logo_service{
      background-size: 100%;
      background-position: center top;
    }

    .col_service .logo_service{
        position: relative;
        float: left;
        width: 100%;
    }



    .ia_store_root {
        background-position: 70% top;
        background-size: auto 615px;
        

    }
    .ia_store_root .box_content{
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 50pt;
        padding-bottom: 50pt;
    }
    .ic_mobile{
        width: 100%;
        position: relative;
        background-size: 80%;
        background-position: center 125px;
        height: 610px;
    }
}


